html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 80px;
  }
/* The above lines are from bootstrap example for a sticky footer. I was able to write the footer code on my own, but the html and body tags fixed a bug where my footer wasn't sticky at the bottom */
  

.nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 100px 1fr;
}

.nav-item {
	list-style-type: none;
    text-decoration-color: transparent;
	color: black;
	margin-top: 10px;
    font-family: 'Questrial', sans-serif;
    font-weight: lighter;
}

.nav-item:hover {
    list-style-type: none;
    text-decoration-color: transparent;
	color: #315C2B;
    transform: scale(1.125);
    text-align: center;
	margin-top: 10px;
    font-family: 'Questrial', sans-serif;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.anthony-headshot {
    grid-column: 1 / 2;
    place-self: center start;
    max-width: 100%;
    max-height: 100%;
    border-radius: 80%/80%;
    margin-bottom: 7px;
}

.anthony-headshot:hover {
    opacity: 0.5;
    cursor: pointer;
}

nav a:nth-of-type(1) {
	grid-column: 2 / 3;
    place-self: center;
    margin-left: 10px;
    margin-right: 10px;
}

nav a:nth-of-type(2) {
	grid-column: 3 / 4;
    place-self: center;
    margin-left: 0px;
    margin-right: 10px;
}

nav a:nth-of-type(3) {
	grid-column: 4 / 5;
    place-self: center;
    margin-left: 10px;
    margin-right: 10px;
}

.linebreak {
	border-top: 1px solid black;
    margin: 0px;
}

.name {
    display: flex;
    justify-content: center; 
    font-family: 'Cuprum', sans-serif;
    font-size: 11vw;
    font-weight: bolder;
}

.about-me {
    display: flex;
    justify-content: center;
    margin: 25px;
    font-family: 'Questrial', sans-serif;
    letter-spacing: 0.25vw;
    font-size: 2vh;
    font-size: 5vw;  
}


.projects {
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Cuprum', sans-serif;
}

.description {
    text-align: center;
    font-family: 'Questrial', sans-serif;
}

.projects-description {
    margin-top: 5px; 
    margin-bottom: 40px; 
}

.project-content h1 {
    font-family: 'Cuprum', sans-serif;
}

.project-content p {
    font-family: 'Questrial', sans-serif;
}

.project-content {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    margin-bottom: 40px;
} 

.project-img-hover {
    transform: scale(1.05);
  }

.contact {
    text-align: center;
}

.contact h1 {
    font-family: 'Cuprum', sans-serif;
}

.contact p {
    font-family: 'Questrial', sans-serif;
}

footer {
    position: absolute;
    overflow: hidden; 
    bottom: 0;
    width:99%;
    height: 80px;
    color: white;
  }

footer a {
    overflow: hidden;
    list-style-type: none;
    text-decoration-color: transparent;
    color: black;
    float:right;
    margin-right: 20px;
    margin-top: 10px;
    padding: 15px;
    font-size: 25px;
    background-color:lightgray;
    border-radius: 50%;
  }

  footer a:hover {
      background-color:#95C68C;
      transform: scale(1.025);
  }


/* Removes nav img logo when screen is too narrow */
@media screen and (max-width: 370px) {
    .anthony-headshot {
        display: none;
    }
    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    nav a:nth-of-type(1) {
        grid-column: 1 / 2;
        margin-top: 0px;
        place-self: center;  
    }
    
    nav a:nth-of-type(2) {
        grid-column: 2 / 3;
        margin-top: 0px;
        place-self: center;
    }
    
    nav a:nth-of-type(3) {
        grid-column: 3 / 4;
        margin-top: 0px; 
        place-self: center;
    }
}


@media screen and (min-width: 768px) {
    .nav-item {
        font-size: 3vh;  
    }
    .page {
        display: grid; 
        grid-template-columns: 1fr 1fr;
    }
    .name {
        grid-column: 1 / 2;
        font-size: 5.5vw;
        justify-self: stretch;
        align-self: end;
        margin: 25px;
    }

    .about-me {
        grid-column: 2 / 3;
        font-size: 2.5vw;
        justify-self: stretch;
        align-self: center;
        margin: 25px;
    }
    .anthony-headshot {
        grid-column: 1 / 2;
        width: auto;
        height: 100%;
        border-radius: 80%/80%;       
    }
    .projects {
        margin-top: 20px;
        margin-bottom: 0px;
        font-family: 'Cuprum', sans-serif;
        font-size: 3vw;
    }
    
    .description {
        text-align: center;
        font-family: 'Questrial', sans-serif;
        font-size: 1.5vw;
    }
    .project-content {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 50px;
        gap: 40px;
    }
    .project-content img {
        flex-grow: 0.5;
    }
    .projects-container {
        text-align: start;
    }
}


@media only screen and (min-width: 1024px) {
    .page {
        display: grid; 
        grid-template-columns: 1fr 1fr;
    }
    .anthony-headshot {
        grid-column: 1 / 2;
        width: auto;
        height: 100%;
        border-radius: 80%/80%;        
    }
    .project-content {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 50px;
        gap: 40px;
    }
    .project-content img {
        flex-grow: 0.5;
    }
    .projects-container {
        text-align: start;
    }
    .description {
        text-align:center;
    }
    
}